@using FluxorBlazorWeb.ActionSubscriberTutorial.Client.Store.CustomerUseCases.SearchUseCases
@inherits FluxorComponent

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FluxorBlazorWeb.ActionSubscriberTutorial</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customers/search">
                <span class="oi oi-people" aria-hidden="true"></span> Customers
            </NavLink>
        </div>
        <div id="nav-menu__customer-search-state">
            Customer search state
            <ul>
                @foreach (var customer in SearchCustomersState.Value.Customers)
                {
                    <li>@customer.Name</li>
                }
            </ul>
        </div>
    </nav>
</div>


